/* TODO: ul max-sizing & colors */

main.home {
  width: 400px;
  max-height: 600px;
  background: #FFFFFF;
  box-shadow: 4px 4px 5px 5px #505050;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}

div.title {
  padding-top: 50px;
  margin-bottom: 50px;
}

hr.title-hr {
  width: 100px;
  margin: 0 10px;
}

ul.todo-list {
  max-height: 40%;
  overflow-y: auto;
}

li.todo-item {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 60px;
  margin: 10px 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

li.todo-item span {
  margin-left: 30px;
  font-size: 14px;
  font-weight: 700;
}

div.label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

li.todo-item div.label input[type=checkbox] {
  width: 20px;
  height: 20px;
  background: #E0E0E0;
  border: 1px solid #505050;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  -moz-outline-color: transparent;
}

li.toggled {
  background: linear-gradient(90deg, rgba(93,93,93,0.2) 0%, rgba(255,255,255,1) 100%);
}

li.toggled div.label input[type=checkbox] {
  background: none !important;
  border: 0 !important;
}

li.toggled span {
  color: var(--main-red);
}

li.toggled div.label input[type=checkbox]:after {
  /*content: "✔";*/
  content: '⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀';
  text-decoration: line-through;
  color: var(--main-red);
  font-size: 17px;
}

button.delete-todo,
button.delete-todo img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

label.description {
  display: flex;
  justify-content: center;
  align-items: center;
}

label.description input {
  width: 300px;
  height: 35px;
  background: #F9F9F9;
  border: 1px solid #909090;
  font-size: 20px;
  font-weight: 300;
  padding: 0 10px;
  color: #000;
  margin-right: -2px;
  outline: none;
  -moz-outline-color: transparent;
}

button.add-todo {
  width: 40px;
  height: 37px;
  text-align: center;
  border-radius: 2px 2px 2px 0;
  background: var(--main-blue);
}

button.add-todo img {
  width: 25px;
  height: 25px;
  margin-top: 3px;
  cursor: pointer;
}

button.add-todo, button.add-todo img {
  outline: none;
  -moz-outline-color: transparent;
}

main.home a {
  align-self: center;
  margin-bottom: 50px;
  text-align: center;
  width: 300px;
  background: var(--main-blue);
  color: #FFFFFF;
  cursor: pointer;
  margin-top: 50px;
  padding: 10px;
}
